*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

html, body {
    height: 100%;
}

[class*="__container"] {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
}

.header {
    min-height: 500px;
    display: flex;
    justify-content: space-around;
}

.b {
    /* width: 250px; */
    height: 300px;
}

.block1 {
    background-color: black;
    flex-basis: 30%;
}

.block2 {
    background-color: teal;
    flex-basis: 30%;
}

.block3 {
    background-color: darkseagreen;
    flex-basis: 30%;
}